[submodule "external/duktape"]
	path = core/deps/duktape
	url = https://github.com/tangrams/duktape.git
[submodule "external/glfw"]
	path = platforms/common/glfw
	url = https://github.com/glfw/glfw
  shallow = true
[submodule "external/benchmark"]
	path = bench/benchmark
	url = https://github.com/google/benchmark
[submodule "external/alfons"]
	path = core/deps/alfons
	url = https://github.com/hjanetzek/alfons
[submodule "external/harfbuzz-icu-freetype"]
	path = core/deps/harfbuzz-icu-freetype
	url = https://github.com/tangrams/harfbuzz-icu-freetype.git
[submodule "core/deps/stb"]
	path = core/deps/stb
	url = https://github.com/nothings/stb.git
[submodule "core/deps/glm"]
	path = core/deps/glm
	url = https://github.com/g-truc/glm
  shallow = true
[submodule "core/deps/lerc"]
	path = core/deps/lerc
	url = https://github.com/Esri/lerc
